<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-autowire="byName">

    <import resource="classpath:spring/applicationContext-cache.xml"/>

    <bean id="requestDebugFilter" class="com.pos.common.util.web.http.RequestDebugFilter">
        <property name="enable" value="${logback.http.debug}" />
    </bean>

    <bean id="corsFilter" class="com.pos.common.util.web.http.CorsGlobalFilter">
        <property name="configurer">
            <bean class="com.pos.common.util.web.http.CorsConfigurer">
                <property name="allowedOrigins" value="${cors.allowd.origins}"/>
                <property name="allowedHeaders" value="${cors.allowd.headers}"/>
                <property name="allowedMethods" value="${cors.allowd.methods}"/>
                <property name="allowCredentials" value="${cors.allow.credentials}"/>
                <property name="maxAge" value="${cors.max.age}"/>
            </bean>
        </property>
    </bean>

</beans>